@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
body, html {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #0e0e0e;
    background: #252525;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

$maxWidth: 1920;

@mixin adaptive-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    
    width: 68px;
    background: #181818;

    transition: all 0.2s ease;
    z-index: 101;
    border-right: 1px solid rgba(54, 54, 54, 0.15);
}

.sidebar.active {
    width: 200px;
    position: fixed;
    z-index: 101;
    top: 0;
    bottom: 0;
    height: 100%;


    border-right: 1px solid rgba(54, 54, 54, 0.15);
}


.sidebar .logo_content .logo {
    color: #fff;
    display: flex; 
    height: 50px;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    position: relative;

    top: 17px;
    left: 25px;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
    pointer-events: none;
    font-size: 18px;
    font-weight: 600;
}

.burgerside div {
    width: 20px;
    height: 2px;
    margin: 4px;
    transition: all 0.2s ease;
    background-color: #fff;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-10px, -1px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-10px, 1.5px);
}

.sidebar #btnside {
    position: absolute;
    height: 50px;
    left: 34px;
    top: 30px;
    margin: 0 auto;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 8px;
}

.sidebar.active #btnside {
    left: 175px;
}

.sidebar .bx {
    color: #fff;
    padding: 0 10px 0 0;
    pointer-events: auto;
}

.sidebar ul {
    padding: 0;
    margin-top: 20px;
    left: 25px;
    position: relative;
}

.sidebar ul li {
    list-style-type: none;
    height: 50px;
    line-height: 50px;
}

.sidebar ul li a {
    text-decoration: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
    width: 50px;
    pointer-events: none;
}

.sidebar ul li a:focus {
    outline: none;
}

.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
    color: #fff;
}

.sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar.active .nav_list {
    font-size: 14px;
}

.title {
    height: 30px;
    @include adaptive-font(18, 12);
    color: #e6e6e6;
    font-weight: 100;
    margin: 15px 0;    
}


.main-content {
    position: absolute;
    left: 68px;
    max-width: calc(100% - 68px);
    width: 100%;
    padding: 0px 50px 55px 50px;
    display: flex;
    flex-direction: column;

}

.donates {
    width: 100%;
    // max-height: 630px;
    height: 100%;
    border-radius: 12px;
}

.donates-inner {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.donates__item {
    width: 100%;
    min-height: 100px;
    height: 100%;
    
    background: rgba(255, 255, 255, 1);
    /* box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.1); */
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 40px;
    position: relative;
    border-radius: 8px;
    margin: 0 0 15px 0;
}

.donates__item:last-child {
    margin: 0;
}

.donates__item-text {
    @include adaptive-font(16, 12);
}

.donates__item::before {
    content: "";
    width: 30px;
    height: 100%;
    position: absolute;
    background: #DC4049;
    left: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
